bin/
obj/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Dependencies
/node_modules

# Ignore built ts files
dist/**/*
__pycache__
client_bak
api/config.cfg
api.tar
api/staticfiles
.env
.env.*
api/salesbeat-cache.sqlite
cypress.env.json
.coverage
coverage.xml
celerybeat-schedule
api/scripts/databases.md

# VS solution file
*.sln
.vscode/

# OS metadata
.DS_Store
Thumbs.db

# Build
public/css/main.css

# Coverage reports
coverage

# Editors
.idea
*.iml